############################
# python
############################
*.Python
*.pyc

############################
# Virtualenv
############################
bin/
lib/
build/
include/

############################
# database
############################
*.db

############################
# Project
############################
static/
media/**/*
local_settings.py

############################
# OSX
############################
*.DS_Store
